<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>selec disease</title>
</head>
<style>
    fieldset{
        text-align: center;

        background-color: rgb(77, 47, 9);
        text-size-adjust: 100px;
        border-radius: 50px;

    }
    body{
        padding-left: 30%;
        padding-right:  30%; ;
        padding-top: 30%;
        padding-bottom: 40%;
    }
</style>

<body>
    <fieldset>
        <legend>WELCOME</legend>
        <b style="color: green;">DO YOU WANT TO DIAGNOSIS</b>
        <br>
        <br>
        <br>
        <a href="disease1.html"><button>yes</button></a><button>no</button>
    </fieldset>
    


</body>

</html>