<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEDICINE</title>
    <link rel="stylesheet" href="/static/disease.css">
    
</head>
<body>


    <fieldset>
    <legend>MEDICINE FOR DISEASE</legend>
    <ul>
        
        <p><b style="color: black;">DHATRYARISHTA</b></p>
        
    </ul>
    </fieldset>
    <div class="rest">
    <p style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"><b style="color:rgb(1, 146, 146)">Dose:</b>20 to 40 ml with equal quantity of water. Two times daily after food. <br><b>Side effects:</b>No known side effects, the heavy dose may induce gastric irritation. Used under medical supervision.</p>
    <p style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"><b style="color:rgb(1, 146, 146)">Method of preparation:</b>Extract the juice of Amalaki and heated along with Sugar candy till it attains proper paka. When the mixture becomes cooled add Pippali and Honey. Keep for fermentation in a closed vessel  for 1 month. After completion of fermentation, arista is filtered and stored in a glass bottle. <br><b>Method of storage:</b>Stored in a airtight glass bottle. Keep away from direct sunlight and moisture.</p>
    <h1><b style="color: red;">Properties of Dhatryarishta:</b></h1>
    <p style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"><b style="color:rgb(1, 146, 146)">Roga karma: </b>Kamala, pandu, hridroga, vatarakta, vishamajwara, kasa, hikka, aruchi and other shwasa vikaras.</p>
    <p style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"><b style="color:rgb(1, 146, 146)">Dosha karma: </b>Tridoshahara, mainly pittahara.</p>
    <p style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"><b style="color:rgb(1, 146, 146)">Agni  karma:</b>Deepana</p>
    <p style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"><b style="color:rgb(1, 146, 146)">Other karmas: </b>Hridya, rasadushtihara.</p>
    <p style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"><b style="color:rgb(1, 146, 146)">Reference: </b>Bhaishajya ratnavali Pandurogachikitsa 12/120-122.</p>
    <br>
    <p style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"><b style="color: red;">Warning:</b>Do not take this product without the consent of your Ayurvedic Physician.  The information here is only for the purpose of knowledge.</p>
</div>
    
