<!DOCTYPE html>
<html>
<head>
  <title>About Us</title>
  <link rel="stylesheet" href="/static/disease.css">
</head>
<body>
  <h1><u>About Us</u></h1>

  <p>Welcome to the About Us page for our website! We are a team of passionate individuals who are dedicated to providing you with the best possible information about Ayurvedic medicine.</p>

  <p>We believe that Ayurvedic medicine is a powerful and effective way to heal the body and mind. We are committed to making Ayurvedic medicine more accessible and affordable for everyone.</p>

  <p>Our website provides information on a variety of Ayurvedic topics, including:</p>

  <ul>
    <li>Different types of Ayurvedic medicine</li>
    <li>Benefits of Ayurvedic medicine</li>
    <li>How to use Ayurvedic medicine</li>
    <li>Ayurvedic recipes</li>
    <li>Ayurvedic lifestyle tips</li>
  </ul>

  <h2><u>Vision for the Future</u></h2>

  <p>We are excited to announce that we are working on a new feature that will allow you to predict the disease and suitable medicines based on your symptoms using machine learning. This feature is still in development, but we expect to launch it in the near future.</p>

  <p>We believe that this feature will be a valuable resource for those who are interested in learning more about Ayurvedic medicine and how to use it to improve their health.</p>

  <h2><u>Conclusion</u></h2>

  We are grateful for your support and we hope that you will continue to use our website as a resource for your Ayurvedic journey.

  <p>Thank you!</p>
</body>
</html>