<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SWASTH-AI</title>
    <link rel="stylesheet" href="static/index.css">
</head>
<body>
    <div id="particles-js"></div>
    <div class="centered">
        <a href="/login" id="website-link">
            <h1 id="website-name">
                <span class="icon"></span>SWASTH-AI
            </h1>
        </a>
    </div>
    <script src="static/particle/particles.js"></script>
    <script src="static/particle/demo/js/app.js"></script>
</body>
</html>
