<!DOCTYPE html>
<html>
<head>
  <title>Support</title>
  <link rel="stylesheet" href="/static/disease.css">
</head>
<body>
  <h1><u>Support</u></h1>

  <p>We are here to help you with any questions or problems you may have. Please feel free to contact us using the following methods:</p>

  <ul>
    <li>Email: swasthaiteam@gmail.com</li>
    <li>Ministry of AYUSH: <a href="https://www.ayush.gov.in/">https://www.ayush.gov.in/</a></li>
  </ul>

  <p>We appreciate your patience and understanding.</p>
</body>
</html>